<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{pageTitle}}</title>
		<style>
			table {
				border-collapse: collapse;
			}
			td, th {
				text-align: center;
				padding: 5px;
			}
			tr:nth-child(even) {
				background-color: #dddddd;
			}
		</style>
	</head>
	<body>
		<h1>{{pageTitle}}</h1>
		
		<table>
			<tr>
				<th>Result</th>
				<th>Should Be</th>
			</tr>
			{{#each array}}
				<tr>
					<form action="/">
						<td><input type="text" name="name" value={{this.name}}></td>
						<td>{{this.name}}</td>
					</form>
				</tr>
			{{/each}}
		</table>
	</body>
</html>